**/.vscode/**
backend/chat_server/**/*.zip
backend/**/.env*
.DS_Store
frontend/.DS_Store
backend/.DS_Store
backend/**/__pycache__
frontend/node_modules
frontend/package_lock.json
frontend/build
**/nohup.out
./images/
