.core_box_without_sidebar {
  width: 80%;
  height: 100%;
  overflow:"hidden";
  pad: medium;
  margin-top: 12vh;
  overflow-y: scroll;
  margin-left: 25px;
  margin-right: 25px;
}

.sliding-underline {
  position: relative;
}

.sliding-underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: -2.5px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.sliding-underline:hover:before {
  visibility: visible;
  width: 100%;
}

.fadein {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
  .core_box_without_sidebar {
    width: 100% !important;
    margin-left: 0px !important;
    margin-top: 65px;
    pad: none !important;

  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}