#background-landing {
  position: fixed;
  opacity: 0.1;
  z-index: -1;
}

#vertical-line {
  border-left: 3px solid #CCCCCC;
  margin-right: 25px;
  margin-left: 25px;
}

.circle-flow {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: "green";
  border-radius: 300px;
}