.talk_card_box_1 {
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
}

#talk_card_box_1 > * {
    margin: 30px 0;
}


*:focus {
    outline: none;
}

/* For mobile */
@media all and (max-width: 992px){
    .talk_card_box_1 {
        width: 100% !important;
        /* height: 480px; */
        position: relative;
    }
}

.katex { font-size: 1em !important;}